/* Write your CSS here */
button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-color: #dfe2e5;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-top: 15px;
  font-weight: 700;
  color: #7b8794;
  font-size: 16px;
}

.selected-button {
  border-bottom-style: solid;
  border-bottom-color: #2563eb;
  color: #2563eb;
}
